version: "3.8"
services:
  backend:
    build:
      context: ./backend
    expose:
      - "80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Host=rc1b-32ovpk86blnmbjk8.mdb.yandexcloud.net;Port=6432;Database=db1;Username=user1;Password=123123123;Ssl Mode=Require;
    restart: unless-stopped